*{
	margin: 0;
}

#head{
	background-color: blue;
	height: 200px;
	width: 700px;
	margin: auto;
}
.times{
	background-color: #ffff00;
	margin-left:30px;
	margin-top: 24px;
	width: 120px;
	margin-bottom: 30px;
}
.times img{
	margin-bottom: 0px; 
}
.times-text {
	border-bottom: 1px solid #000;
}
.heading_table{
	height: 30px;
	background-color: #3399ff;
	color: #ffffff;
	text-align: center;
}
.total_table{
	height: 20px;
	background-color: #99cc00;
	text-align: center;
	
}

.import{
	position: relative;
}
.lightbox{
	display: none;
	top: 100px;
	position: absolute;
	z-index:1;
	background-color: #cad6cb;
	width: 100%;
}
.data_master{
	position: absolute;
	z-index: 0;
	
}
#btn_send{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#btn_cancel{
	float: right;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 10px; 
}
.lightbox table{
	width: 100%;
	border: 1px;
	margin:auto;
	margin-top: 30px;
}